include ../dark/dark
include ../title/title
include ../description/description

mixin header()
	.header

		.header__title
			+dark()
				+title()
					| Angular Calculator Application

		//-+description()

